nav a {
  font-family: 'Montserrat';
  text-decoration: none;
  color: #252B42;
}


/*nav a:hover {
  color: #FA4A0C;
}*/

.text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

.button {
  border-radius: 30px;
  width: 236px;
  height: 68px;
  background-color: transparent;

}

.button:hover {
  background-color: #FA4A0C;
  border: 2px solid #FA4A0C;
  box-shadow: 0 0 23px 15px #FA4A0C;
}